.movie-item-details-main-container {
  background-color: #181818;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
.movie-banner-home {
  background-size: cover;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.banner-content-super-container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  align-items: flex-end;

  margin-top: auto;
  margin-bottom: 70px;
}
.banner-content-container {
  width: 500px;
  min-height: 270px;

  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.list-item {
  list-style: none;
}
.movie-item-details-banner-movie-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 38px;

  color: #e2e8f0;
  margin-bottom: 0px;
}
.movie-duration-adult-year {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
  margin-bottom: 0px;
}
.movie-duration-text {
  color: #e2e8f0;
}
.movie-adult-content-text {
  color: #e2e8f0;
  border: solid #e2e8f0 1px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}
.movie-release-on-text {
  color: #e2e8f0;
}
.movie-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  margin-top: 0px;
  color: #e2e8f0;
}
.play-banner-container {
  padding-top: 7px;
  padding-bottom: 7px;

  margin-right: 10px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
  margin-top: 6px;
}

.play-banner-container-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  background: transparent;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 10px;
  font-weight: 600;
  margin-top: 0px;
}
.add-icon {
  font-size: 20px;
  margin-bottom: 5px;
}
.movie-details-similar-container {
  display: flex;

  align-items: center;
  flex-direction: column;
}
.movie-item-details-container {
  display: flex;
  height: 25vh;
  width: 80%;
}
.details-category-titles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  margin-bottom: 0px;
  color: #94a3b8;
}
.details-ul-list-container {
  list-style: none;
  padding: 0px;
}
.details-li-item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  margin-top: 10px;
  font-size: 13px;

  color: #e2e8f0;
}
.details-movies-ul-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  padding-left: 30px;
  justify-content: initial;
  padding-left: 0px;
}

.similar-movies-list {
  width: 85%;
  padding-left: 30px;
}
.movie-details-card {
  width: 280px;
}
.movies-like-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: #e2e8f0;
}
.react-loader-super-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.failure-view-main-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.failure-view-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-view-image {
  height: 250px;
}
.try-again-text {
  color: #e2e8f0;
  font-family: 'Roboto';
  font-size: 17px;
}
.try-again-button {
  width: 74px;
  height: 30px;

  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
}
.play-addtowatch {
  display: flex;
  justify-content: space-between;
  width: 170px;
  align-items: center;
}

@media screen and (max-width: 576px) {
  .similar-movies-list {
    width: 95%;
    padding-left: 0px;
  }
  .movies-like-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    margin-left: 10px;
    font-size: 24px;
    line-height: 31px;
    color: #e2e8f0;
  }
  .details-li-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    margin-top: 10px;
    font-size: 13px;

    color: #e2e8f0;
  }
  .details-category-titles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin-bottom: 0px;
    color: #94a3b8;
  }
  .movie-banner-home {
    background-size: cover;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .movie-details-card {
    width: 27vw;
  }
  .banner-content-container {
    width: 360px;
  }
  .movie-item-details-banner-movie-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;

    color: #e2e8f0;
    margin-bottom: 0px;
  }
  .details-movies-ul-list-container {
    padding-left: 10px;
  }

  .movie-item-details-container {
    display: flex;
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  .movie-duration-adult-year {
    display: flex;
    align-items: center;
    width: 160px;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  .banner-content-super-container {
    width: 95%;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: flex-end;

    margin-top: auto;
    margin-bottom: 20px;
  }
  .movie-duration-text {
    color: #e2e8f0;
    font-family: 'Roboto';
    font-size: 13px;
  }
  .movie-adult-content-text {
    color: #e2e8f0;
    border: solid #e2e8f0 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
  }
  .movie-release-on-text {
    color: #e2e8f0;
    font-family: 'Roboto';
  }
  .movie-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    margin-top: 0px;
    color: #e2e8f0;
  }
}
