.pagination-styles {
  display: flex;
  color: #ffffff;
}
.next-text {
  color: #ffffff;
}
.break-class {
  color: #ffffff;
}
.pagination-container {
  display: flex;
  width: auto;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.active-page {
  border: solid 1px #ffffff;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
  color: red;
}
.direction-class {
  color: #ffffff;
  border: solid #ffffff 1px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;

  margin: 7px;
}
.arrow-icon {
  color: #ffffff;
  font-size: 14px;
}
.pages-class {
  font-family: 'Roboto';
  color: #ffffff;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
}
.pagination-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popular-movies-list-container {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  min-height: 65vh;
  height: auto;
  padding: 10px;

  padding-left: 30px;
}
.popular-sub-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .popular-movies-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 17px;
    margin-top: 0px;
    min-height: 65vh;
    height: auto;
  }
}
