.seach-route-main-container {
  background-color: #181818;
  height: 100vh;
}
.no-vid-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.no-vids-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no-vids-image {
  height: 350px;
}

.try-again-text {
  color: #e2e8f0;
  font-family: 'Roboto';
  font-size: 17px;
}
.react-loader-super-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.failure-view-main-container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.failure-view-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-view-image {
  height: 250px;
}
.try-again-text {
  color: #e2e8f0;
  font-family: 'Roboto';
  font-size: 17px;
}
.try-again-button {
  width: 74px;
  height: 30px;

  background: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
}
.sm-list {
  display: none;
}

@media screen and (max-width: 576px) {
  .no-vids-image {
    height: 250px;
  }
  .sm-list {
    display: block;
  }
  .lg-list {
    display: none;
  }
}
