.login-form-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  left: 0px;

  top: 0px;
  background-color: #000000;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    left: 0px;

    top: 0px;
    background: linear-gradient(
        116.64deg,
        rgba(0, 0, 0, 0.8) 0.46%,
        rgba(0, 0, 0, 0) 100%
      ),
      url('https://res.cloudinary.com/dzapdxkgc/image/upload/v1667748448/moviesapp/netfilx_1_1_syresf.png');
    background-size: cover;
  }
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-img {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .login-img {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 8px;
  flex-shrink: 0;
  width: 90%;
  padding: 20px;
  padding-top: 0px;
}
.website-logo-login {
  height: 30px;
}
.movie-logo-container {
  justify-self: flex-start;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: auto;
}
@media screen and (min-width: 577px) {
  .movie-logo-container {
    margin-left: 20px;
    margin-top: 20px;
  }
  .form-container {
    width: 450px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
    padding-top: 0px;
    align-self: center;

    justify-self: center;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: none;
  background: #333333;
  border-radius: 2px;
  color: #e2e8f0;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  background: #333333;
  border-radius: 2px;
  color: #e2e8f0;
  border-radius: 2px;
  border: none;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
  opacity: 1;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background: #e50914;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
.showpass {
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 15px;
  color: #ffffff;
}

.showpassContainer {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.login-main-title {
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .login-main-title {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 500;
    align-self: flex-start;
  }
}
